@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


html, body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto Mono', monospace;
  color: #444;
  border: 0;
  margin: 0;
  padding: 0;
}


.App {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.App main{
  min-height: 100%;
  flex-grow: 1;
}

.App h1{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 80px;
  line-height: 70px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 16px;
  text-transform: uppercase;
} 

/* HEADER */

.Header {
  background-color: white;
  min-height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
}
.Header nav {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 18px;  
  font-style: normal;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.Header ul {
  list-style-type:none;
  display: inline-block;
}

.Header ul li{
  display: inline-block;
  padding: 0 20px 10px 20px;
}

.Header ul li a{
  color: #444;
  text-decoration: none;
}

.Header ul li a:hover{
  color:  #CFB53B;
  text-decoration: none;
}

.Header + .Main {
  padding-top: 120px;
}

.logo{
  height: 35px;
  margin: 0;
  padding: 10px 0 0 0;
}

/* HOME */
.Home{
  display: flex;
  flex-direction: column;
}

.Home p{
  font-size: 12px;
  padding: 0 30px;
}

.Home h3{
  margin: 8px;
  letter-spacing: 10px;
  font-family: 'Barlow Condensed', sans-serif;
  line-height: 30px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

#nishimoto{
  font-family: 'Barlow Condensed', sans-serif;
  line-height: 40px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 18px;
  text-transform: uppercase;
}

#image_home {
  width: 300px;
}

#stroke{
  width: 200px;
}

/* GALLERY */
.galleryWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card img:hover{
 opacity: 70%;
}

.card h1 {
  font-size: 24px;
  margin: 0;
  padding-top: 20px;
  font-family: 'Barlow Condensed', sans-serif;
} 

a{
  color:#444;
  text-decoration: none;
}

a:hover{
  color: #CFB53B;
}

.card img {
  width: 400px;
  border-radius: 10px;
  -webkit-box-shadow: 6px 6px 5px -2px rgba(204,204,204,1);
  -moz-box-shadow: 6px 6px 5px -2px rgba(204,204,204,1);
  box-shadow: 6px 6px 5px -2px rgba(204,204,204,1);
} 

/* DETAIL */
.Detail{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

#img_detail{
  width: 400px;
  border-radius: 10px;
 }

 #detail_description{
   flex-wrap: wrap;
   font-size: 13px;
   margin: 20px; 
 }

/* FOOTER */


.App footer{
  bottom: 0;
  font-size: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border-top: 1px solid #eee;
  margin-top: 30px;
  font-size: 14px;
}

.App footer a {
  color: #444;
  margin: 3px;
  transition: transform .2s;
}

.App footer a:hover {
  color: #CFB53B;
  transform: scale(1.1);
}

.App header, main, footer {
  flex-shrink: 0;
}

#disclaimer{
  font-size: 11px;
}

#iconHeart{
  padding: 0 7px;
}

/* CONTACT ME */
.contact_me{
  padding: 20px
}

@media only screen and (min-width: 768px) {

  .Home{
    margin-top: 80px;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
  }

  .Home p{
    max-width: 350px;
    text-align: left;
  }

  .galleryWrapper{

    max-height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .card {
    margin: 10px;
  }

  #title {
    text-align: left;
    margin-left: 20px;
  }

  .Detail{
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  #img_detail{
    width: 500px;
  }

  #detail_description {
    text-align: left;
    max-width: 200px;
  }
}

@media only screen and (max-width: 400px) {
  .Header nav {
    font-size: 18px; 
  }
  .Header ul li{
    display: inline-block;
    padding: 0 15px 10px 0;
  }
  .card img {
    width: 300px;
    border-radius: 10px;
  } 

  #img_detail{
    width: 300px;
   }
  
}